<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.AdminMapper">

	
<select id="selectAdmin" parameterType="String" resultType="Admin">
		select id, password from ADMIN where id = #{id}
</select>
	
</mapper>