<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="web.scmaster.com.dao.AdminMapper">

<!-- 방  -->

<insert id="insertRoom" parameterType="Room">
insert into ROOM (ROOM_NO,MAXIMUM,PRESENT,DELETEFLAG) values (#{room_no}, #{maximum}, #{present},#{deleteflag}) 
</insert>

<update id="deleteRoom" parameterType="String">
update Room set DELETEFLAG='N' where ROOM_NO=#{room_no}
</update>

<select id="roomlist" resultType="Room">

select room_no, maximum, present from room

order by room_no

</select>

	
<!-- 관리자로그인 -->
<select id="selectAdmin" parameterType="String" resultType="Admin">
		select id, password from ADMIN where id = #{id}
</select>

<!-- 요양사검색 -->
<select id="selectNurseById" parameterType="String" resultType="Nurse">
		select NURSE_NO,CERT_NO,ID,PASSWORD,NAME,PHONE,ORIGINALPHOTO,SAVEDPHOTO,TO_CHAR(INPUTDATE,'YYYY-MM-DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY-MM-DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY-MM-DD') AS DELETEDATE,DELETEFLAG from nurse where ID = #{id}
</select>


<!-- 환자검색 -->
<select id="selectPatient" parameterType="String" resultType="Patient">
select PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE,DISEASE,PHONE,ADDRESS,ORIGINALPHOTO,SAVEDPHOTO,ROOM_NO,PPT_ID,PPT_PW,PPT_NAME,PPT_PHONE,PPT_ADD,TO_CHAR(INPUTDATE,'YYYY,MM,DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY,MM,DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY,MM,DD') DELETEDATE,DELETEFLAG from PATIENT where PPT_ID = #{ppt_id}
</select>

<!-- 요양사등록 -->
<insert id="insertNurse" parameterType="Nurse">

 	insert into Nurse (NURSE_NO,CERT_NO,ID,PASSWORD,NAME,PHONE
 	<if test="originalphoto!=null">
 	,ORIGINALPHOTO
 	</if>
 	<if test="savedphoto!=null">
 	,SAVEDPHOTO
 	</if> 	
 	) 	
 	values(nurseno_seq.nextval,#{cert_no},#{id},#{password},#{name},#{phone} 	
 	<if test="originalphoto!=null">
 	,#{originalphoto}
 	</if>
 	<if test="savedphoto!=null">
 	,#{savedphoto}
 	</if>
 	 )
</insert>

<!-- 환자등록 -->
<insert id="insertPatient" parameterType="Patient">
insert into Patient (PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE
	<if test="disease!=null">,DISEASE</if>
	<if test="phone!=null">,PHONE</if>
	<if test="address!=null">,ADDRESS</if>
	<if test="originalphoto!=null">,ORIGINALPHOTO</if>
 	<if test="savedphoto!=null">,SAVEDPHOTO	</if> 	
	,ROOM_NO
	<if test="ppt_id!=null">,PPT_ID</if>
	<if test="ppt_pw!=null">,PPT_PW</if>
	<if test="ppt_name!=null">,PPT_NAME</if>
	<if test="ppt_phone!=null">,PPT_PHONE</if>
	<if test="ppt_add!=null">,PPT_ADD</if>
	) 
	values(
	ptno_seq.nextval,#{nurse_no},#{ins_no},#{name},#{birthdate}
	<if test="disease!=null">,#{disease}</if>
	<if test="phone!=null">,#{phone}</if>
	<if test="address!=null">,#{address}</if>
	<if test="originalphoto!=null">,#{originalphoto}</if>
 	<if test="savedphoto!=null">,#{savedphoto}</if> 	
	,#{room_no}
	<if test="ppt_id!=null">,#{ppt_id}</if>
	<if test="ppt_pw!=null">,#{ppt_pw}</if>
	<if test="ppt_name!=null">,#{ppt_name}</if>
	<if test="ppt_phone!=null">,#{ppt_phone}</if>
	<if test="ppt_add!=null">,#{ppt_add}</if>	
	)
</insert>

<select id="nurselist" resultType="Nurse">

select nurse_no, name, phone from nurse

order by nurse_no

</select>

	
</mapper>