<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="web.scmaster.com.dao.dailyMapper">

<select id = "mealList" parameterType="HashMap" resultType="Meal">
	select
		meal_No
		, pt_no
		, to_char(today,'yy/mm/dd') as today
		, typeEat
		, mealTime
		, whatEat
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		meal
	where
		pt_no = #{pt_no} 
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>


<select id="exerciseList" parameterType="HashMap" resultType="Exercise">
	select
		pt_no
		, today
<!-- 		, to_char(exercisetime, 'HH24:MI') as exercisetime -->
        , exercisetime
		, exercisetext
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		exercise
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="cleaning" parameterType="HashMap" resultType="Cleaning">
	select
		pt_no
		, today
		, cleaning
		, cleaningreport
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		dailycleaning
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="wash" parameterType="HashMap" resultType="Wash">
	select
		pt_no
		, today
		, wash
		, washreport
		, updatedate
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		dailywash
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="shower" parameterType="HashMap" resultType="Shower">
	select
		pt_no
		, today
		, shower
		, showerreport
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		dailyshower
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="bedList" parameterType="HashMap" resultType="Bedtime">
	select
		pt_no
		, today
		, timetosleep
		, timetogetup
		, report
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		bedtime
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="dr_opList" parameterType="HashMap" resultType="DR_OP">
	select
		pt_no
		, today
		, reporttime
		, report
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		dr_op
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>

<select id="specialList" parameterType="HashMap" resultType="Special">
	select
		pt_no
		, today
		, sreporttime
		, sreport
		, to_char(inputdate,'yy/mm/dd') as inputdate
		, to_char(updatedate,'yy/mm/dd') as updatedate
		, to_char(deletedate,'yy/mm/dd') as deletedate
	from
		special
	where
		pt_no = #{pt_no}
		and to_char(today,'yyyy/mm/dd') = #{today}
</select>
	
</mapper>