<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.nurseMapper">

	
<select id="selectNurseById" parameterType="String" resultType="Nurse">
		select NURSE_NO,CERT_NO,ID,PASSWORD,NAME,PHONE,ORIGINALPHOTO,SAVEDPHOTO,TO_CHAR(INPUTDATE,'YYYY-MM-DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY-MM-DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY-MM-DD') AS DELETEDATE,DELETEFLAG 
		from nurse 
		where ID = #{id} and DELETEFLAG='Y'
</select>

<!-- 환자등록 -->
<insert id="insertPatient" parameterType="Patient">
insert into Patient (PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE
	<if test="disease!=null">,DISEASE</if>
	<if test="phone!=null">,PHONE</if>
	<if test="address!=null">,ADDRESS</if>
	<if test="originalphoto!=null">,ORIGINALPHOTO</if>
 	<if test="savedphoto!=null">,SAVEDPHOTO	</if> 	
	,ROOM_NO
	<if test="ipaddress!=null">,IPADDRESS</if>
	<if test="ppt_id!=null">,PPT_ID</if>
	<if test="ppt_pw!=null">,PPT_PW</if>
	<if test="ppt_name!=null">,PPT_NAME</if>
	<if test="ppt_phone!=null">,PPT_PHONE</if>
	<if test="ppt_add!=null">,PPT_ADD</if>
	) 
	values(
	ptno_seq.nextval,#{nurse_no},#{ins_no},#{name},#{birthdate}
	<if test="disease!=null">,#{disease}</if>
	<if test="phone!=null">,#{phone}</if>
	<if test="address!=null">,#{address}</if>
	<if test="originalphoto!=null">,#{originalphoto}</if>
 	<if test="savedphoto!=null">,#{savedphoto}</if> 	
	,#{room_no}
	<if test="ipaddress!=null">,#{ipaddress}</if>
	<if test="ppt_id!=null">,#{ppt_id}</if>
	<if test="ppt_pw!=null">,#{ppt_pw}</if>
	<if test="ppt_name!=null">,#{ppt_name}</if>
	<if test="ppt_phone!=null">,#{ppt_phone}</if>
	<if test="ppt_add!=null">,#{ppt_add}</if>	
	)
</insert>


<update id="updateNurse" parameterType="Nurse">

update NURSE
	set
	<if test="NAME!=null">,NAME=#{name}</if>
	<if test="PHONE!=null">,PHONE=#{phone}</if>
	<if test="ADDRESS!=null">,ADDRESS=#{address}</if>
	<if test="ORIGINALPHOTO!=null">,ORIGINALPHOTO=#{originalphoto}</if>
 	<if test="SAVEDPHOTO!=null">,SAVEDPHOTO=#{savedphoto}</if> 	
	,updatedate=sysdate
	where NURSE_NO=#{nurse_no}	

</update>

<update id="deleteNurse" parameterType="int">
update NURSE set DELETEFLAG='N' where NURSE_NO=#{nurse_no}
</update>

<select id="patientList" resultType="Patient" parameterType="int">
	select
		pt_no
		, name
		, room_no
		, birthdate
	from
		patient
	where
		nurse_no = #{nurse_no}
	and DELETEFLAG='Y'
</select>

<select id="showMeal" resultType="HashMap" parameterType="HashMap">
	select
		pt_no
		, typeeat
		, mealtime
		, whateat
	from
		meal
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y' 
</select>

<select id="showExercise" resultType="HashMap" parameterType="HashMap">
	select
		exercise_no
		, pt_no
		, exercisetime
		, exercisetext
	from
		exercise
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
</select>

<select id="showDailyCleaning" resultType="HashMap" parameterType="HashMap">
	select
		DAILYCLEANING_NO
		, pt_no
		, CLEANING
		, CLEANINGREPORT
	from
		DAILYCLEANING
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		DAILYCLEANING_NO asc
</select>

<select id="showDailyWash" resultType="HashMap" parameterType="HashMap">
	select
		dailywash_no
		, pt_no
		, wash
		, washreport
	from
		dailywash
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		dailywash_no asc
</select>

<select id="showDailyShower" resultType="HashMap" parameterType="HashMap">
	select
		dailyshower_no
		, pt_no
		, shower
		, showerreport
	from
		dailyshower
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		dailyshower_no asc
</select>

<select id="showBedTime" resultType="HashMap" parameterType="HashMap">
	select
		bedtime_no
		, pt_no
		, timetosleep
		, timetogetup
		, report
	from
		bedtime
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		bedtime_no asc
</select>

<select id="showDr_op" resultType="HashMap" parameterType="HashMap">
	select
		dr_op_no
		, pt_no
		, reporttime
		, report
	from
		dr_op
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		dr_op_no asc
</select>

<select id="showSpecial" resultType="HashMap" parameterType="HashMap">
	select
		special_no
		, pt_no
		, sreporttime
		, sreport
	from
		special
	where
		pt_no = #{pt_no}
		and today = #{today}
		and deleteflag = 'Y'
	order by	
		special_no asc
</select>

<insert id="enrollMeal" parameterType="Meal">
	insert into
		meal(MEAL_NO, PT_NO, today, TYPEEAT, MEALTIME, WHATEAT)
	values(MEALNO_SEQ.NEXTVAL, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{typeEat}, #{mealTime}, #{whatEat})
</insert>

<insert id="enrollExercise" parameterType="Exercise">
	insert into
		exercise(EXERCISE_NO, PT_NO, today, exercisetext, exercisetime)
	values(EXERCISENO_SEQ.NEXTVAL, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{exerciseText}, #{exerciseTime})
</insert>
	
<insert id="enrollDailyCleaning" parameterType="Cleaning">
	insert into
		dailyCleaning(DAILYCLEANING_NO, PT_NO, today, cleaning, cleaningReport)
	values(DAILYCLEANINGNO_SEQ.NEXTVAL, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{cleaning}, #{cleaningReport})
</insert>

<insert id="enrollDailyWash" parameterType="Wash">
	insert into
		dailywash(DAILYWASH_NO, PT_NO, today, wash, washReport)
	values(DAILYWASH_SEQ.NEXTVAL, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{wash}, #{washReport})
</insert>

<insert id="enrollDailyShower" parameterType="Shower">
	insert into
		dailyshower(dailyshower_no, PT_NO, today, shower, showerreport)
	values(DAILYSHOWER_SEQ.NEXTVAL, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{shower}, #{showerReport})
</insert>

<insert id="enrollBedTime" parameterType="Bedtime">
	insert into
		bedtime(bedtime_no, pt_no, today, timetosleep, timetogetup, report)
	values(bedtime_seq.nextval, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{timeToSleep}, #{timeToGetup}, #{report})
</insert>

<insert id="enrollDr_op" parameterType="DR_OP">
	insert into
		dr_op(dr_op_no, pt_no, today, reporttime, report)
	values(dr_op_seq.nextval, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{reportTime}, #{report})
</insert>

<insert id="enrollSpecial" parameterType="Special">
	insert into
		special(special_no, pt_no, today, sreporttime, sreport)
	values(special_seq.nextval, #{pt_no}, to_date(#{today}, 'yy/mm/dd'), #{sreportTime}, #{sreport})
</insert>

<update id="delMeal" parameterType="Meal">
	update
		meal
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and mealtime = #{mealTime}	
</update>

<update id="delExercise" parameterType="Exercise">
	update
		exercise
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and exercise_No = #{exercise_No}
</update>

<update id="delDailycleaning" parameterType="Cleaning">
	update
		dailycleaning
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailycleaning_No = #{dailycleaning_No}
</update>

<update id="delDailyWash" parameterType="Wash">
	update
		dailywash
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailywash_No = #{dailywash_No}
</update>

<update id="delDailyShower" parameterType="Shower">
	update
		dailyshower
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailyshower_No = #{dailyshower_No}
</update>

<update id="delBedTime" parameterType="Bedtime">
	update
		bedtime
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and bedtime_No = #{bedtime_No}
</update>

<update id="delDr_op" parameterType="DR_OP">
	update
		dr_op
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dr_op_No = #{dr_op_No}
</update>

<update id="delSpecial" parameterType="Special">
	update
		special
	set
		deleteflag = 'N'
		,deletedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and special_No = #{special_No}
</update>

<select id="showUpdateMeal" parameterType="Meal" resultType="HashMap">
	select
		meal_no
		, pt_no
		, today
		, typeeat
		, mealtime
		, whateat
	from
		meal
	where
		pt_no = #{pt_no}
		and today = #{today}
		and typeEat = #{typeEat}
		and mealTime = #{mealTime}
		and whatEat = #{whatEat}
		and deleteflag = 'Y'
</select>

<select id="showUpdateExercise" parameterType="Exercise" resultType="HashMap">
	select
		exercise_no
		, pt_no
		, today
		, exercisetext
		, exercisetime
	from
		exercise
	where
		pt_no = #{pt_no}
		and today = #{today}
		and exercisetext = #{exerciseText}
		and exercisetime = #{exerciseTime}
		and deleteflag = 'Y'
</select>

<select id="showUpdateDailycleaning" parameterType="Cleaning" resultType="HashMap">
	select
		dailycleaning_no
		, pt_no
		, today
		, cleaning
		, cleaningReport
	from
		dailycleaning
	where
		pt_no = #{pt_no}
		and today = #{today}
		and cleaning = #{cleaning}
		and cleaningReport = #{cleaningReport}
		and deleteflag = 'Y'
</select>

<select id="showUpdateDailyWash" parameterType="Wash" resultType="HashMap">
	select
		dailywash_no
		, pt_no
		, today
		, wash
		, washReport
	from
		dailywash
	where
		pt_no = #{pt_no}
		and today = #{today}
		and wash = #{wash}
		and washReport = #{washReport}
		and deleteflag = 'Y'
</select>

<select id="showUpdateDailyShower" parameterType="Shower" resultType="HashMap">
	select
		dailyshower_no
		, pt_no
		, today
		, shower
		, showerReport
	from
		dailyshower
	where
		pt_no = #{pt_no}
		and today = #{today}
		and shower = #{shower}
		and showerReport = #{showerReport}
		and deleteflag = 'Y'
</select>

<select id="showUpdateBedTime" parameterType="Bedtime" resultType="HashMap">
	select
		bedtime_no
		, pt_no
		, today
		, timetosleep
		, timetogetup
		, report
	from
		bedtime
	where
		pt_no = #{pt_no}
		and today = #{today}
		and timeToSleep = #{timeToSleep}
		and timeToGetup = #{timeToGetup}
		and report = #{report}
		and deleteflag = 'Y'
</select>

<select id="showUpdateDr_op" parameterType="DR_OP" resultType="HashMap">
	select
		dr_op_no
		, pt_no
		, today
		, reporttime
		, report
	from
		dr_op
	where
		pt_no = #{pt_no}
		and today = #{today}
		and reportTime = #{reportTime}
		and report = #{report}
		and deleteflag = 'Y'
</select>

<select id="showUpdateSpecial" parameterType="Special" resultType="HashMap">
	select
		special_no
		, pt_no
		, today
		, sreporttime
		, sreport
	from
		special
	where
		pt_no = #{pt_no}
		and today = #{today}
		and sreportTime = #{sreportTime}
		and sreport = #{sreport}
		and deleteflag = 'Y'
</select>

<update id="updateMeal" parameterType="Meal">
	update
		meal
	set
		typeEat = #{typeEat}
		, mealTime = #{mealTime}
		, whatEat = #{whatEat}
		, updatedate = #{today}
	where
		pt_no = #{pt_no}
		and today = #{today}
		and meal_no = #{meal_No}
</update>

<update id="updateExercise" parameterType="Exercise">
	update
		exercise
	set
		exerciseText = #{exerciseText}
		, exerciseTime = #{exerciseTime}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and exercise_no = #{exercise_No}
</update>

<update id="updateDailyCleaning" parameterType="Cleaning">
	update
		dailycleaning
	set
		cleaning = #{cleaning}
		, cleaningReport = #{cleaningReport}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailycleaning_no = #{dailycleaning_No}
</update>

<update id="updateDailyWash" parameterType="Wash">
	update
		dailywash
	set
		wash = #{wash}
		, washReport = #{washReport}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailywash_no = #{dailywash_No}
</update>

<update id="updateDailyShower" parameterType="Shower">
	update
		dailyshower
	set
		shower = #{shower}
		, showerReport = #{showerReport}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dailyshower_No = #{dailyshower_No}
</update>

<update id="updateBedTime" parameterType="Bedtime">
	update
		bedtime
	set
		timeToSleep = #{timeToSleep}
		, timeToGetup = #{timeToGetup}
		, report = #{report}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and bedtime_No = #{bedtime_No}
</update>

<update id="updateDr_op" parameterType="DR_OP">
	update
		dr_op
	set
		reportTime = #{reportTime}
		, report = #{report}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and dr_op_No = #{dr_op_No}
</update>

<update id="updateSpecial" parameterType="Special">
	update
		special
	set
		sreportTime = #{sreportTime}
		, sreport = #{sreport}
		,updatedate=sysdate
	where
		pt_no = #{pt_no}
		and today = #{today}
		and special_No = #{special_No}
</update>
	
</mapper>