<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.nurseMapper">

	
<select id="selectNurseById" parameterType="String" resultType="Nurse">
		select NURSE_NO,CERT_NO,ID,PASSWORD,NAME,PHONE,ORIGINALPHOTO,SAVEDPHOTO,TO_CHAR(INPUTDATE,'YYYY-MM-DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY-MM-DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY-MM-DD') AS DELETEDATE,DELETEFLAG 
		from nurse 
		where ID = #{id} and DELETEFLAG='Y'
</select>

<!-- 환자등록 -->
<insert id="insertPatient" parameterType="Patient">
insert into Patient (PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE
	<if test="disease!=null">,DISEASE</if>
	<if test="phone!=null">,PHONE</if>
	<if test="address!=null">,ADDRESS</if>
	<if test="originalphoto!=null">,ORIGINALPHOTO</if>
 	<if test="savedphoto!=null">,SAVEDPHOTO	</if> 	
	,ROOM_NO
	<if test="ppt_id!=null">,PPT_ID</if>
	<if test="ppt_pw!=null">,PPT_PW</if>
	<if test="ppt_name!=null">,PPT_NAME</if>
	<if test="ppt_phone!=null">,PPT_PHONE</if>
	<if test="ppt_add!=null">,PPT_ADD</if>
	) 
	values(
	ptno_seq.nextval,#{nurse_no},#{ins_no},#{name},#{birthdate}
	<if test="disease!=null">,#{disease}</if>
	<if test="phone!=null">,#{phone}</if>
	<if test="address!=null">,#{address}</if>
	<if test="originalphoto!=null">,#{originalphoto}</if>
 	<if test="savedphoto!=null">,#{savedphoto}</if> 	
	,#{room_no}
	<if test="ppt_id!=null">,#{ppt_id}</if>
	<if test="ppt_pw!=null">,#{ppt_pw}</if>
	<if test="ppt_name!=null">,#{ppt_name}</if>
	<if test="ppt_phone!=null">,#{ppt_phone}</if>
	<if test="ppt_add!=null">,#{ppt_add}</if>	
	)
</insert>


<update id="updateNurse" parameterType="Nurse">

update NURSE
	set
	<if test="NAME!=null">,NAME=#{name}</if>
	<if test="PHONE!=null">,PHONE=#{phone}</if>
	<if test="ADDRESS!=null">,ADDRESS=#{address}</if>
	<if test="ORIGINALPHOTO!=null">,ORIGINALPHOTO=#{originalphoto}</if>
 	<if test="SAVEDPHOTO!=null">,SAVEDPHOTO=#{savedphoto}</if> 	
		
	where NURSE_NO=#{nurse_no}	

</update>

<update id="deleteNurse" parameterType="int">
update NURSE set DELETEFLAG='N' where NURSE_NO=#{nurse_no}
</update>

<select id="patientList" resultType="Patient" parameterType="int">
	select
		pt_no
		, name
		, room_no
		, birthdate
	from
		patient
	where
		nurse_no = #{nurse_no}
</select>

<select id="patientScheduleList" resultType="HashMap" parameterType="HashMap">
	select
		m.typeeat
		, m.mealtime
		, m.whateat
		, e.exercisetime
		, e.exercisetext
		, dc.cleaning
		, dc.cleaningreport
		, dw.wash
		, dw.washreport
		, ds.shower
		, ds.showerreport
		, b.timetosleep
		, b.timetogetup
		, do.reporttime
		, do.report
		, s.reporttime
		, s.report
	from
		meal m
		, exercise e
		, dailycleaning dc
		, dailywash dw
		, dailyshower ds
		, bedtime b
		, dr_op do
		, special s
	where
		m.pt_no = e.pt_no
		and e.pt_no = dc.pt_no
		and dc.pt_no = dw.pt_no
		and dw.pt_no = ds.pt_no
		and ds.pt_no = b.pt_no
		and b.pt_no = do.pt_no
		and do.pt_no = s.pt_no
		and m.pt_no = #{pt_no}, m.today = #{today} 
</select>
	
</mapper>