<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.nurseMapper">

	
<select id="selectNurseById" parameterType="String" resultType="Nurse">
		select NURSE_NO,CERT_NO,ID,PASSWORD,NAME,PHONE,ORIGINALPHOTO,SAVEDPHOTO,TO_CHAR(INPUTDATE,'YYYY-MM-DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY-MM-DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY-MM-DD') AS DELETEDATE,DELETEFLAG from nurse where ID = #{id}
</select>
	
</mapper>