<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.patientMapper">

<!-- 환자검색 -->
<select id="selectPatient" parameterType="String" resultType="Patient">
select PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE,DISEASE,PHONE,ADDRESS,ORIGINALPHOTO,SAVEDPHOTO,ROOM_NO,PPT_ID,PPT_PW,PPT_NAME,PPT_PHONE,PPT_ADD,TO_CHAR(INPUTDATE,'YYYY,MM,DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY,MM,DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY,MM,DD') DELETEDATE,DELETEFLAG from PATIENT where PPT_ID = #{ppt_id}
</select>

<!-- 환자검색 -->
<select id="selectPatientByPTNO" parameterType="int" resultType="Patient">
select PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE,DISEASE,PHONE,ADDRESS,ORIGINALPHOTO,SAVEDPHOTO,ROOM_NO,PPT_ID,PPT_PW,PPT_NAME,PPT_PHONE,PPT_ADD,TO_CHAR(INPUTDATE,'YYYY,MM,DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY,MM,DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY,MM,DD') DELETEDATE,DELETEFLAG from PATIENT where PT_NO = #{pt_no}
</select>

<!-- 환자등록 -->
<insert id="insertPatient" parameterType="Patient">
insert into patient (PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE
	<if test="DISEASE!=null">,DISEASE</if>
	<if test="PHONE!=null">,PHONE</if>
	<if test="ADDRESS!=null">,ADDRESS</if>
	<if test="ORIGINALPHOTO!=null">,ORIGINALPHOTO</if>
 	<if test="SAVEDPHOTO!=null">,SAVEDPHOTO	</if> 	
	,ROOM_NO
	<if test="PPT_ID!=null">,PPT_ID</if>
	<if test="PPT_PW!=null">,PPT_PW</if>
	<if test="PPT_NAME!=null">,PPT_NAME</if>
	<if test="PPT_PHONE!=null">,PPT_PHONE</if>
	<if test="PPT_ADD!=null">,PPT_ADD</if>
	) 
	values(
	ptno_seq.nextval,#{nurse_no},#{ins_no},#{name},#{birthdate}
	<if test="DISEASE!=null">,#{disease}</if>
	<if test="PHONE!=null">,#{phone}</if>
	<if test="ADDRESS!=null">,#{address}</if>
	<if test="ORIGINALPHOTO!=null">,#{originalphoto}</if>
 	<if test="SAVEDPHOTO!=null">,#{savedphoto}	</if> 	
	,#{room_no}
	<if test="PPT_ID!=null">,#{ppt_id}</if>
	<if test="PPT_PW!=null">,#{ppt_pw}</if>
	<if test="PPT_NAME!=null">,#{ppt_name}</if>
	<if test="PPT_PHONE!=null">,#{ppt_phone}</if>
	<if test="PPT_ADD!=null">,#{ppt_add}</if>	
	)
</insert>

<update id="updatePatient" parameterType="Patient">

update patient 
	set
	<if test="NURSE_NO!=null">NURSE_NO=#{nurse_no}</if>
	<if test="NAME!=null">,NAME=#{name}</if>
	<if test="DISEASE!=null">,DISEASE=#{disease}</if>
	<if test="PHONE!=null">,PHONE=#{phone}</if>
	<if test="ADDRESS!=null">,ADDRESS=#{address}</if>
	<if test="ORIGINALPHOTO!=null">,ORIGINALPHOTO=#{originalphoto}</if>
 	<if test="SAVEDPHOTO!=null">,SAVEDPHOTO=#{savedphoto}</if> 	
	<if test="ROOM_NO!=null">,ROOM_NO=#{room_no}</if>
	<if test="PPT_ID!=null">,PPT_ID=#{ppt_id}</if>
	<if test="PPT_PW!=null">,PPT_PW=#{ppt_pw}</if>
	<if test="PPT_NAME!=null">,PPT_NAME=#{ppt_name}</if>
	<if test="PPT_PHONE!=null">,PPT_PHONE=#{ppt_phone}</if>
	<if test="PPT_ADD!=null">,PPT_ADD=#{ppt_add}</if>	
	
	where PT_NO=#{pt_no}	

</update>

<!-- 회원정보삭제 -->
<update id="deletePatient" parameterType="int">
update PATIENT set DELETEFLAG='N' where PT_NO=#{pt_no}
</update>


<!-- 요양사 변경 -->
<update id="changeNurse" parameterType="int">
update PATIENT set NURSE_NO=#{nurse_no} where PT_NO=#{pt_no}
</update>

<!-- 센서로그 -->

<select id="showSensorLog" resultType="SensorLog" parameterType="int">
select TIMEONLOG,TEXT,GRADE from SENSORLOG where PT_NO=#{pt_no}
</select>

<!-- 요양사 담당 환자 -->
<select id="patientList" resultType="Patient" parameterType="int">
select PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE,DISEASE,PHONE,ADDRESS,ORIGINALPHOTO,SAVEDPHOTO,ROOM_NO,PPT_ID,PPT_PW,PPT_NAME,PPT_PHONE,PPT_ADD,TO_CHAR(INPUTDATE,'YYYY,MM,DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY,MM,DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY,MM,DD') DELETEDATE,DELETEFLAG from PATIENT where NURSE_NO=#{nurse_no}
</select>
	
</mapper>
