<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="web.scmaster.com.dao.patientMapper">


<insert id="insertRoom" parameterType="Room">
		insert into ROOM (ROOM_NO,MAXIMUM,PRESENT,DELETEFLAG) values (#{room_no}, #{maximum}, #{present},#{deleteflag}) 
</insert>

<select id="selectPatient" parameterType="String" resultType="Patient">
select PT_NO,NURSE_NO,INS_NO,NAME,BIRTHDATE,DESEASE,PHONE,ADDRESS,ORIGINALPHOTO,SAVEDPHOTO,ROOM_NO,PPT_ID,PPT_PW,PPT_NAME,PPT_PHONE,PPT_ADD,TO_CHAR(INPUTDATE,'YYYY,MM,DD') AS INPUTDATE,TO_CHAR(UPDATEDATE,'YYYY,MM,DD') AS UPDATEDATE,TO_CHAR(DELETEDATE,'YYYY,MM,DD') DELETEDATE,DELETEFLAG from PATIENT where PPT_ID = #{ppt_id}
</select>

	
	
</mapper>
