.container{
	margin-top: 150px;
	margin-left: 100px;
	float: left;
	width: 50%;
	height: 800px;
}

.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  background-color: #1d86c8;
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #36a0e2;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}
.responsive-calendar .day .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 1;
}

#wrapper{
	margin-right: 150px;
	display: table;
	float: right;
	width: 30%;
	height: 400px;
	background: pink;
	
}

#web-camera{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#web-camera img{
	height: 200px;
	width: 200px;
}

#log{
	margin-top: 0px;
	margin-right: 150px;
	float: right;
	width: 30%;
	height: 400px;
	background: blue;
	color: white;
}